* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    height: 200px;
    background: repeating-linear-gradient(#2196F3, #0D47A1);
    color: #fff;
}

div {
    width: 100px;
    height: 100px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 100%;
    position: absolute;
    margin-left: 45%;
    margin-top: 140px;
}

.material-icons {
    color: #3D5AFE;
    font-size: 64px;
    position: absolute;
    margin: 37px;
}

header > h1#titulo {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    margin-top: 45px;
}

header > h2#subtitulo {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    position: absolute;
    margin-top: 90px;
}

main {
    width: 20%;
    height: 50vh;
    margin: 0 auto;
}

fieldset {
    padding: 2px;
    border: none;
    margin-top: 40px;
}

form {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-left: -15px;
}

#cep {
    margin-top: 5px;
    margin-bottom: 5px;
}

#rua {
    margin-top: 5px;
    margin-bottom: 5px;
}

#bairro {
    margin-top: 5px;
    margin-bottom: 5px;
}

#cidade {
    margin-top: 5px;
    margin-bottom: 5px;
}

#estado {
    margin-top: 5px;
    margin-bottom: 5px;
}

#buscar {
    margin: 0 auto;
    background-color: #2196F3;
    border: none;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0 3.5px 2px #0D47A1;
    cursor: pointer;
}

.txt {
    width: 100%;
    height: 30px;
}

label {
    margin: 1px;
}